Repository avintimilsina/hulak: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
	"**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
	"**/*.{md,mdx,yml,json,babelrc,eslintrc,prettierrc}": ["prettier --write"]
}

refactor(web): :recycle: improved code structure and fixed toast
  apps/web/src/components/auth/RegisterForm.tsx
  apps/web/src/pages/auth/register.tsx
  apps/web/src/pages/auth/verify-email.tsx
  apps/web/src/pages/index.tsx
Due: eslint --fix, prettier --write

refactor(web): :recycle: improved code structure of quote form
  apps/web/src/components/pages/quote/SendFrom.tsx
  apps/web/src/components/pages/quote/SendTo.tsx
Due: eslint --fix, prettier --write

feat(web): :sparkles: added modal payment for khalti (depreceted version)
  apps/web/package.json
  apps/web/src/pages/payment/index.tsx
  apps/web/src/pages/payment/new-payment.tsx
  apps/web/types.d.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

feat(web): :sparkles: added view order page
  apps/web/package.json
  apps/web/src/components/pages/account/order/OrderCard.tsx
  apps/web/src/components/shared/PriceTag.tsx
  apps/web/src/pages/account/order.tsx
  apps/web/src/pages/order/[id].tsx
  apps/web/src/utils/helpers.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(web): :sparkles: order page completed
  apps/web/src/components/pages/account/order/OrderWrapper.tsx
  apps/web/src/pages/account/order/[id].tsx
  apps/web/src/pages/account/order/index.tsx
  apps/web/src/styles/globals.css
Due: eslint --fix, prettier --write

fix(web): :bug: fixed quote page
  apps/web/src/components/helpers/calculatePostage.ts
  apps/web/src/components/pages/create/WhatForm.tsx
  apps/web/src/components/pages/quote/SendFrom.tsx
  apps/web/src/components/pages/quote/SendTo.tsx
  apps/web/src/pages/quote.tsx
  turbo.json
Due: eslint --fix, prettier --write

chore(web): :necktie: tweaked postage formula
  apps/web/src/components/helpers/calculatePostage.ts
Due: eslint --fix, prettier --write

refactor(web): :recycle: added options in formula caluclation
  apps/web/src/components/helpers/calculatePostage.ts
  apps/web/src/pages/quote.tsx
Due: eslint --fix, prettier --write

chore(web): :alien: new route for database write for order info
  apps/web/src/pages/api/update-order.ts
  apps/web/src/pages/payment/success.tsx
Due: eslint --fix, prettier --write

refactor(web): :recycle: updated creating order logic
  apps/web/src/pages/api/update-order.ts
  apps/web/src/pages/create-order.tsx
  apps/web/src/pages/payment/success.tsx
Due: eslint --fix, prettier --write

refactor(web): :recycle: updated api routes for handling order
  apps/web/src/pages/api/payment.ts
  apps/web/src/pages/api/update-order.ts
Due: eslint --fix, prettier --write

refactor(web): :recycle: updated the order layout
  apps/web/src/pages/account/order/[id].tsx
  apps/web/src/pages/account/order/index.tsx
  apps/web/src/pages/account/orders.tsx
  apps/web/src/pages/create-order.tsx
Due: eslint --fix, prettier --write

feat(web): :tada: tracking page init
  apps/web/src/components/ui/InputField.tsx
  apps/web/src/pages/tracking.tsx
Due: eslint --fix, prettier --write

refactor(web): :recycle: refactored tracking page
  apps/web/src/pages/tracking.tsx
Due: eslint --fix, prettier --write

build(web): :arrow_up: updated turbo
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(web): :art: added helpcenter in account sidebar
  apps/web/src/pages/account/helpcenter.tsx
  apps/web/src/pages/account/orders.tsx
  apps/web/src/pages/tracking.tsx
Due: eslint --fix, prettier --write

refactor(web): :recycle: added preferences into its own section
  apps/web/src/components/pages/account/AccountPreference.tsx
  apps/web/src/pages/account/index.tsx
  apps/web/src/pages/account/preference.tsx
Due: eslint --fix, prettier --write

fix(web): :children_crossing: updated order page with order details & tracking status
  apps/web/src/pages/account/orders.tsx
  apps/web/src/pages/tracking.tsx
Due: eslint --fix, prettier --write

fix(web): :art: updated order page Ui
  apps/web/src/pages/account/orders.tsx
  apps/web/src/pages/create-order.tsx
  apps/web/src/pages/tracking.tsx
Due: eslint --fix, prettier --write

feat(web): :sparkles: added HOC protection for auth and account pages
  apps/web/src/pages/account/address.tsx
  apps/web/src/pages/account/helpcenter.tsx
  apps/web/src/pages/account/index.tsx
  apps/web/src/pages/account/orders.tsx
  apps/web/src/pages/account/preference.tsx
  apps/web/src/pages/auth/forgot-password.tsx
  apps/web/src/pages/auth/login.tsx
  apps/web/src/pages/auth/register.tsx
  apps/web/src/pages/auth/verify-email.tsx
  apps/web/src/pages/create-order.tsx
  apps/web/src/pages/order/[id].tsx
  apps/web/src/pages/payment/success.tsx
  apps/web/src/routes/withAuthPages.tsx
  apps/web/src/routes/withProtected.tsx
Due: eslint --fix, prettier --write

chore(web): :lipstick: added business option in register
  apps/web/src/components/auth/RegisterForm.tsx
  apps/web/src/pages/auth/register.tsx
Due: eslint --fix, prettier --write

chore(web): :bento: added assests
  apps/web/public/android-chrome-192x192.png
  apps/web/public/android-chrome-512x512.png
  apps/web/public/apple-touch-icon.png
  apps/web/public/favicon-16x16.png
  apps/web/public/favicon-32x32.png
  apps/web/public/favicon.ico
  apps/web/public/favicon.svg
  apps/web/public/logo.svg
  apps/web/public/site.webmanifest
Due: none

[ImgBot] Optimize images
  apps/web/public/android-chrome-192x192.png
  apps/web/public/android-chrome-512x512.png
  apps/web/public/apple-touch-icon.png
  apps/web/public/favicon-32x32.png
  apps/web/public/favicon.svg
  apps/web/public/logo.svg
  apps/web/public/vercel.svg
Due: none

feat(web): :sparkles: added delete account button in preferences
  apps/web/src/components/helpers/ConfirmationModal.tsx
  apps/web/src/components/pages/account/DangerZone.tsx
  apps/web/src/pages/account/preference.tsx
Due: eslint --fix, prettier --write

feat(web): :art: added confirm text on delete account modal
  apps/web/src/components/pages/account/DangerZone.tsx
Due: eslint --fix, prettier --write

ci(web): :sparkles: admin page hoc
  apps/web/src/routes/withAdminProtected.tsx
Due: eslint --fix, prettier --write

feat(web): :tada: admin page init
  apps/web/package.json
  apps/web/src/components/pages/admin/Search.tsx
  apps/web/src/pages/admin/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(both): :sparkles: added order by id api
  apps/web/src/pages/api/v1/orders.ts
Due: eslint --fix, prettier --write

docs(docs): :tada: get orders docs init
  apps/docs/.eslintrc.js
  apps/docs/package.json
  apps/docs/pages/_meta.json
  apps/docs/pages/advanced.mdx
  apps/docs/pages/advanced/satori.mdx
  apps/docs/pages/another.mdx
  apps/docs/pages/get-orders/get-all-orders.mdx
  apps/docs/pages/get-orders/get-orders-by-id.mdx
  apps/docs/pages/index.mdx
  apps/docs/theme.config.tsx
Due: eslint --fix, prettier --write

feat(both): :sparkles: added create-order api route
  apps/web/src/pages/api/v1/create-order.ts
  apps/web/src/pages/create-order.tsx
Due: eslint --fix, prettier --write

docs(docs): :memo: added create-order docs
  apps/docs/pages/create-order.mdx
  apps/docs/pages/get-orders/get-all-orders.mdx
Due: prettier --write

fix(docs): :heavy_minus_sign: remove unused dependency
  apps/docs/package.json
Due: prettier --write

fix(docs): :coffin: removed unused code
  apps/docs/components/counters.module.css
  apps/docs/components/counters.tsx
Due: eslint --fix, prettier --write

fix(docs): :pencil2: fixed typo
  apps/docs/pages/index.mdx
Due: prettier --write

docs(both): :memo: updated Readme
  README.md
Due: prettier --write

fix(both): :pencil2: fixed typos
  README.md
Due: prettier --write

fix(web): :bug: fixed ui flow in auth pages
  apps/web/src/components/auth/ForgotPasswordForm.tsx
  apps/web/src/components/ui/InputField.tsx
  apps/web/src/pages/auth/login.tsx
  apps/web/src/pages/auth/register.tsx
Due: eslint --fix, prettier --write

fix(docs): :pencil2: added /api/v1 in base URL
  apps/docs/pages/index.mdx
Due: prettier --write

feat(web): :sparkles: added ability to search users in manage admin page
  apps/web/src/components/pages/admin/Search.tsx
  apps/web/src/components/ui/ToggleButton.tsx
  apps/web/src/pages/admin/index.tsx
  apps/web/src/pages/auth/register.tsx
Due: eslint --fix, prettier --write

fix(web): :lipstick: fixed the business or personal button style
  apps/web/src/pages/auth/register.tsx
Due: eslint --fix, prettier --write
